.heading { 
    margin: 0px;
    padding: 60px;
    color: white;
    font-size: 60px;
}

.container {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: 50%;
    padding: 30px
}


.header { 
    margin-bottom: 30px;
}

.input { 
    text-align: left;
}