html {
  scroll-behavior: smooth;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto; 
  overflow-x: hidden;
  background-color: white
}

.tags{
  width: 80%;
  margin: 25px 10%;
}

.home__card {
  display: grid;
  grid-template-columns: auto auto auto;
  z-index: 1;
  margin: 25px 5%;
}
@media only screen and (max-width: 1050px) {
  .home__card {
    grid-template-columns: auto auto;
  }
}


@media only screen and (max-width: 700px) {
  .home__card {
    grid-template-columns: auto;
  }
}

.show__more {
  background-color: rgb(255, 0, 106);
  color: white;
  text-transform: inherit;
  margin: 20px 50px 50px;
  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px solid  rgb(255, 0, 106);
}

.show__more:hover{
  background-color: white;
  color: rgb(255, 0, 106);
  transition: 0.5s;
}
.search__header{
  text-align: left;
  padding: 30px 160px;
}
.home__title {
  display: flex;
  justify-content: center;
  margin: 30px 30px 10px;
  font-size: 17px;
}
.home__title div{
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.home__title h2{
  text-align: left;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.home__title  select {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 4px;
  height: 20px;
  width: 80px;
}
.no__restaurants {
  margin: 100px;
  text-decoration: underline;
}
.change{
  color: white;
  font-weight: 600;
  background-color: rgb(255, 0, 106);;
  border: 1px solid  rgb(255, 0, 106);
  padding: 10px;
  width: fit-content;
  font-size: 14px;
  margin-left: 10px;
  transition: 0.5s;
  border-radius: 5px;
  outline:none;
}
.change:hover{
  background-color: white;
  color: rgb(255, 0, 106);
}
