.success {
  display: flex;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  padding-bottom: 170px;
}

.success__container {
  background: #eae6ff;
  width: 1240px;
  height: 580px;
  margin-left: 100px;
  margin-top: 80px;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.success__title {
  font-size: 50px;
  margin-top: 50px;
  color: #2a0080;
  font-weight: 600;
}

.success__subtitle {
  margin-top: 15px;
  font-size: 15px;
  color: #2a0080;
  font-weight: 500;
}

.success__content {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  justify-content: center;
  z-index: -1;
}

.success__contentImageContainer {
  width: 300px;
  height: 230px;
  background: #bb99ff;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.success_contentImage {
  margin-top: 70px;
}

.success__contentTeam {
  color: #26004d;
  font-weight: 500;
  margin-top: 60px;
}

.success__contentTeamName {
  margin-top: 130px;
  margin-left: -30px;
  color: #26004d;
  font-weight: 600;
}

.success__buttons {
  margin-right: 330px;
  z-index: 1;
  margin-top: -30px;
}

.success__buttonStyle1 {
  background: #b3003b;
  border: none;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 20px;
  margin-right: 60px;
  transition: 0.3s;
}

.success__buttonStyle1:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.success__buttonStyle2 {
  background: #2a0080;
  border: none;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s;
}

.success__buttonStyle2:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px ){
  .success{
    height: 100vh;
    overflow-y: hidden;
  }
  .success__container {
    background: #eae6ff;
    width: 90vw;
    height: 580px;
    margin-left: 5vw;
    margin-top: 20px;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .success__content{
    display: none;
  }
  .success__buttons{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .success__buttons button{
    margin-bottom: 30px;
  }
  .success__buttonStyle1 {
    margin-right: 0;
  }
}
