.enter__address {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  flex: 1;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}
.image__container {
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(40%);
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image__container img {
  margin-bottom: 50px;
}
.title {
  margin-top: 10%;
}

.address__box {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0% 10%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.address__box > input {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 800px;
  font-size: 20px;
}

.address__box > input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

.address__list {
  margin-bottom: 0px;
  text-align: left;
  position: fixed;
  margin: 0% 10%;
  min-width: 80%;
}

@media only screen and (max-width: 414px) {
  .address__list {
    width: 100vw;
    margin: 1.5% 0%;
  }
}

.address__listitem {
  background-color: white;
  padding: 15px;
  list-style-type: none;
  border: gray;
  border-style: solid;
  border-width: 0px;
}

.address__listitem:first-child {
  margin-top: -4px;
}

@media not screen and (max-width: 414px) {
  .address__listitem:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.address__listitem:hover {
  background-color: rgb(200, 200, 200);
}

.address__button {
  min-width: 80%;
  font-size: 20px;
  color: black;
  background: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
}

.address__buttonsContainer {
  width: 300px;
  height: 100px;
  margin-left: 1000px;
  position: absolute;
  margin-top: 10px;
  text-decoration: none;
}

.address__login {
  background: none;
  border: none;
  color: #eee6ff;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 16px;
  transition: 0.3s;
  margin-right: 10px;
}

.address__login:hover {
  background: #6600cc;
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.address__signUp {
  background: none;
  border: none;
  color: #eee6ff;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 16px;
  transition: 0.3s;
}

.address__signUp:hover {
  background: #330099;
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
