.featuredItem {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(../../pages/images/Home-Background2.jpg);
  height: 100vh;
  max-height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}

.featuredItem > h1 {
  font-size: clamp(3rem, 5vw, 5rem);
}

.featuredItem > p {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 3vw, 2rem);
}

.featuredItem__button {
  font-size: 1.4rem;
  padding: 0.6rem 3rem;
  border: none;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  color: #000;
  transition: 0.2s ease-out;
}

.featuredItem__button:hover {
  color: #fff;
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  transition: 0.2s ease-out;
  cursor: pointer;
}
