.Line{
    width: 25%;
    color: #a300ff;
    background-color: #a300ff;
}
.Full{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.Dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(163,0,255,0.21);
}
.DotSelected{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #a300ff;
}
.Text{
    margin-left: 10px;
    display: flex;
    width: 110%;
    margin-top: 5px;
}
.Text p{
    text-align: left;
    width: 35%;
}