.NavBarItems {
    background: linear-gradient(90deg, rgb(110, 94, 254 ) 0%, rgba(73, 63, 252, 100%));
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-menu:active {

}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6D76F7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links:active {
    background-color: #969DFF;
    border-radius: 4px;
}

.menu-icon {
    display: none;
}


