.NavBarItems {
  background: #764eab;
  background: -webkit-linear-gradient(top left, #764eab, #330749);
  background: -moz-linear-gradient(top left, #764eab, #330749);
  background: linear-gradient(to bottom right, #764eab, #330749);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #ec73ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-links:active {
  background-color: #e699ff;
  border-radius: 4px;
}

.navbar-search {
  margin-left: 150px;
}

.search-logo {
  color: #fff;
}

.search-box {
  float: center;
}

.menu-icon {
  display: none;
}
