.Spinner{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.LdsRing {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.LdsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #303d5f;
    border-radius: 50%;
    animation: LdsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #303d5f transparent transparent transparent;
}
.LdsRing div:nth-child(1) {
    animation-delay: -0.45s;
}
.LdsRing div:nth-child(2) {
    animation-delay: -0.3s;
}
.LdsRing div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes LdsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}