.banner {
  margin-left: 25px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
}

.banner__image {
  display: flex;
  max-height: 400px;
  max-width: auto;
  width: 100%;
  object-fit: contain;
}

.banner__info {
  background-color: #663399;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__info > button {
  background-color: #301934;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > h5 {
  margin-top: 10px;
}

.banner__info > button:hover {
  background-color: white;
  color: #743a34;
}
