.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto; /* Allows us to not stretch if the screen size increases*/
  max-width: 100vw;
  overflow-x: hidden;
}

.home__card {
  display: grid;
  grid-template-columns: auto auto auto;
  z-index: 1;
  margin: 25px 5%;
}

.show__more {
  background-color: rgb(255, 0, 106);
  color: white;
  text-transform: inherit;
  margin: 20px 50px 50px;
  font-weight: 600;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
}

.show__more:hover{
  background-color: white;
  color: rgb(255, 0, 106);
  transition: 0.5s;
}

.home__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 160px;
}

.home__title  select {
  margin: 8px;
  height: 20px;
  width: 80px;
}
.no__restaurants {
  margin: 100px;
}
