.heading { 
    margin: 0px;
    padding: 60px;
    color: white;
    font-size: 60px;
}

.profileDiv {
    width: 100%;
    align-items: center;
}

.container {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: 50%;
    padding: 30px
}

.div {
    background: #6faaf7;
}

.avatar {
    margin: auto;
}

.actionBtns { 
    margin: auto;
}

.label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
    left: 0;
}

.label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}
  
.header { 
    margin-bottom: 30px;
}

.input { 
    text-align: left;
}