.heading { 
    margin: 0px;
    padding: 60px;
    color: white;
    font-size: 60px;
}

.container {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: 50%;
    padding: 30px
}


.header { 
    margin-bottom: 30px;
}

.input { 
    text-align: left;
}

 
.label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  
  .label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
  }
  