html {
  scroll-behavior: smooth;
}
.banner {
  display: flex;
  flex:1;
}

.banner__info {
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  color: white;
  padding-top: 10vh;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10vh;
  width:100%;
  font-size: 30px;
}

.banner__info > button {
  background-color: rgb(255, 0, 106);
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > a {
  background-color: rgb(255, 0, 106);
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > h5 {
  margin-top: 10px;
}

.banner__info > button:hover {
  background-color: white;
  color: rgb(255, 0, 106);
  cursor: none;
}

.banner__info > a:hover {
  background-color: white;
  color: rgb(255, 0, 106);
  cursor: none;
}

