.fooditem {
  background: #150f0f;
  color: #fff;
  padding: 40px;
}

.fooditem__heading {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 40px;
}

.fooditem__image {
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 8px 8px purple;
}

.fooditem__title {
  font-weight: 400;
  font-size: 1.5rem;
}

.fooditem__desc {
  margin-bottom: 1rem;
}

.fooditem__price {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.fooditem__button {
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  color: #fff;
  transition: 0.2 ease-out;
}

.fooditem__button:hover {
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}

.fooditem__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.fooditem__card {
  margin: 2rem 2rem;
  line-height: 2;
  width: 300px;
}
