.fooditem {
  justify-content: center;

  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.fooditem__card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #d1bffd;
  margin: 2px;
  line-height: 1;
  width: 800px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.fooditem__title {
  font-weight: 450;
  font-size: 1.5rem;
}

.fooditem__ing {
  padding-top: 5px;
  font-size: 0.8rem;
  padding-right: 80px;
  margin-bottom: 0.4rem;
  padding-right: 30px;
}

.fooditem__price {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  float: right;
  padding-top: 30px;
  padding-right: 40px;
  z-index: 1;
}

.fooditem__button {
  font-size: 1rem;
  padding: 1rem 3rem;
  border: none;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  color: #fff;
  transition: 0.2 ease-out;
}

.fooditem__button:hover {
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}

.fooditem__info {
  overflow: hidden;
  flex-direction: row;
  float: left;
  padding: 15px;
  text-align: left;
  width: 300px;
}

.fooditem:hover {
  transform: scale(1.03);
}


.fooditem__image {
  width: 70px;
  height: 55px;
  float: left;
  margin-top: 14px;
  margin-left: 9px;
  border-radius: 3px;
}

.fooditem_remove {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}