.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(../images/KFC.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.hero__content {
  height: calc(100vh - 80px);
  max-height: 100%;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 650px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.hero__button {
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border: none;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  color: #fff;
  transition: 0.2s ease-out;
}

.hero__button:hover {
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}

.hero__title {
  font-size: clamp(2.5rem, 10vw, 5rem);
  margin-bottom: 1rem;
  box-shadow: 3px 5px #b224ef;
  letter-spacing: 3px;
}
.hero__description{
  font-size: clamp(1.5rem, 5vw, 1rem);
  margin: 10px 40px;
  text-align: left;
}
.hero__rating{
  font-size: clamp(1rem, 2.5vw, 0.5rem);
  margin: 10px 40px;
  text-align: left;
}
