.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
  url(../../assets/images/banner-image2.jpg);
  height: 500px;
  width: 80%;
  margin-left: 150px;
  background-position: center;
  background-size: cover;
}

.hero__content {
  height: calc(100vh - 80px);
  max-height: 100%;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 650px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.hero__title {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  margin-bottom: 1rem;
  box-shadow: 1px 3px #7579ff;
  letter-spacing: 3px;
}
.hero__description{
  font-size: clamp(1.5rem, 5vw, 1rem);
  margin: 10px 40px;
  text-align: left;
}
.hero__rating{
  font-size: clamp(1rem, 2.5vw, 0.5rem);
  margin: 10px 40px;
  text-align: left;
}
