.navbar__items {
  position: sticky;
  height: 70px;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  z-index: 100;
  max-width: 100%;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef)
}

.nav__menu {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
  list-style: none;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav__links {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__links:hover {
  transition: all 0.2s ease-out;
  border-bottom: 2px solid white;
}

.navbar__search {
  margin-left: 50px;
  width: 100%;
}

.search__logo {
  color: black;
}

.search__box {
  background-color:white;
  display: flex;
  flex: 1;
  padding: 10px;
  height: 23px;
  border: 1px solid white;
  border-radius: 10px;
}
.search__box button {
  display: flex;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  justify-content: flex-end;
}

.search__box > input {
  background-color: transparent;
  border: none;
  padding: 10px;
  outline-width: 0;
}

.search__box > input,
input::-webkit-input-placeholder {
  font-size: 18px;
}

.menu__icon {
  display: none;
  color: white;
}

.navbar__basket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 5px;
}

.navbar__basket:hover {
  transition: all 0.2s ease-out;
  border-bottom: 2px solid white;
}

.navbar__orders{
  margin-left: 40px;
  align-items: center;
  color: white;
}

.navbar__orders:hover {
  transition: all 0.2s ease-out;
  border-bottom: 2px solid white;
}
.navbar__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.nav__logo {
  background-color: transparent;
  height: 40px;
  pointer-events: none;
}

.nav__logo:hover {
  cursor: pointer;
}
.button__logo {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  z-index: 100;
  outline: none;
}
.button__logo:hover {
  cursor: pointer;
}

@media only screen and (max-width: 415px) {
  .search__box {
    margin-top: 100px;
    margin-left: -100px;
    width: 100%;
  }

  .navbar__orders{
    margin-left: -400px;
  }
  .navbar__basket {
    margin-left: -150px;
  }
  .nav__links {
    margin-left: -200px;
  }
  .search__box button {
    visibility: hidden;
  }
}
