.Tags{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    border-radius: 10px;
}
.TagsHolder{
    display: flex;
    transition: 1s;
}
.Title{
    margin-top: 30px;
    text-align: left;
    padding-bottom: 25px;
}
.Tag{
    position: relative;
    width: 33%;
    min-width: 275px;
    margin-right: 10px;
}
.ScrollRight{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 5px 5px rgba(100,100,100,0.6);
    background-color: rgba(255,255,255,0.95);
}
.ScrollLeft button{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
    z-index: 20;
}
.ScrollLeft{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 5px 5px rgba(100,100,100,0.6);
    background-color: rgba(255,255,255,0.95);
}
.ScrollLeft:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.ScrollRight:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.Arrow{
    pointer-events: none;
}